beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.6
django-colorful==1.2
django-contrib-comments==1.8.0
django-crispy-forms==1.7.0
django-fluent-comments==1.4.3
django-modelcluster==3.1
django-tag-parser==3.1
django-taggit==0.22.1
django-treebeard==4.1.2
djangorestframework==3.6.4
html5lib==0.999999999
idna==2.6
olefile==0.44
Pillow==8.3.2
python-akismet==0.3.0
pytz==2017.2
requests==2.18.4
six==1.11.0
Unidecode==0.4.21
urllib3==1.22
wagtail==1.13
webencodings==0.5.1
Willow==1.0
