{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
	<h3 id="page-title">{{ page.title }}</h3>
	
	<ul id="news_list">
		{% for news in newspages %}
			{% with news=news.specific %}
				<li class="row">
					<div class="four columns news-image">
						{% with news.imagem_principal as imagem_principal %}
							{% if imagem_principal %}
								{% image imagem_principal fill-300x200 %}
							{% endif %}
						{% endwith %}
						<p class="caption">{{ news.legenda }}</p>
					</div>
					<div class="eight columns news-content">
						<p class="date" style="background-color: {{ news.categoria.cor }};">{{ news.date }}</p>
						<h1>{{ news.title }}</h1>
						<h4>{{ news.subtitulo }}</h4>
						<p>{{ news.descricao }}</p>
						<a href="{% pageurl news %}" class="see-more button button-primary">Ler mais</a>
					</div>
				</li>
			{% endwith %}
		{% endfor %}
	</ul>
{% endblock %}