<div id="menu_container">
<nav>
    <ul>
        <li class='primeiro_nivel'>
            <a href="#">Marco Regulatório</a>
            <ul>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/plano-diretor/">Plano Diretor</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/plano-diretor/estrategias-ilustradas/">Estratégias Ilustradas</a></li>
                        <li class="terceiro_nivel"><a href="http://mapacolaborativo.gestaourbana.prefeitura.sp.gov.br/funcao-social/">Mapa Colaborativo - Função Social</a></li>
                        <li class="terceiro_nivel"><a href="http://monitoramentopde.gestaourbana.prefeitura.sp.gov.br/">Monitorameno PDE</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/plano-diretor/videos/">Vídeos</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/plano-diretor/processo-participativo/">Processo Participativo</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/plano-diretor/texto-da-lei-ilustrado/">Texto da Lei Ilustrado</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/plano-diretor/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/zoneamento/">Zoneamento</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/zoneamento/processo-de-revisao-e-readequacao-de-alguns-dispositivos-da-lei-de-zoneamento/">Discussões de Ajustes 2017</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/zoneamento/texto-da-lei/">Texto da Lei 16.402/16</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/zoneamento/entenda-o-zoneamento/">Entenda o Zoneamento</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/zoneamento/roteiro-de-consulta/">Roteiro da Consulta</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/zoneamento/processo-participativo/">Processo Participativo</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/zoneamento/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/a-revisao-participativa/codigo-de-obras-e-edificacoes/">Código de Obras</a></li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/planos-regionais/">Planos Regionais</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/planos-regionais/mapas-e-indicadores/">Mapas e Indicadores</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/planos-regionais/processo-participativo/">Processo Participativo</a></li>
                        <li class="terceiro_nivel"><a href="http://mapacolaborativo.gestaourbana.prefeitura.sp.gov.br/planos-regionais/">Mapa Colaborativo</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/planos-regionais/cadeias-de-valor/">Cadeias de Valor</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/planos-regionais/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/conferencias/">Conferências</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/conferencias/legislacao/">Legislação</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/conferencias/agenda/">Agenda</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/conferencias/conferencias-anteriores/">Conferências Anteriores</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/conferencias/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/pdui/">Plano Metropolitano PDUI</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/pdui/governanca-metropolitana/">Governançaa Metropolitana</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/pdui/entidades-publicas-da-rmsp/">Entidades Públicas da RMSP</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/pdui/processo-participativo/">Processo Participativo</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/marco-regulatorio/pdui/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class='primeiro_nivel'><a href="#">Estruturação Territorial</a>
            <ul>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/eixos-de-transformacao/">Eixos de Transformação</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/eixos-de-transformacao/objetivos/">Objetivos</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/eixos-de-transformacao/o-que-a-cidade-ganha/">O que a Cidade Ganha</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/eixos-de-transformacao/localizacao/">Localização</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/eixos-de-transformacao/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/">Operações Urbanas</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/operacao-consorciada-agua-branca/">OUC Água Branca</a>
                            <ul>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/operacao-consorciada-agua-branca/plano-de-urbanizacao-do-subsetor-a1/">Plano de Urbanização do Subsetor A1</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/operacao-consorciada-agua-branca/revisao-da-lei/">Revisão da Lei</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/operacao-consorciada-agua-branca/arquivos/">Arquivos</a></li>
                            </ul>
                        </li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/oucae/">OUC Água Espraiada</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/operacao-urbana-centro/">OU Centro</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/operacao-urbana-consorciada-faria-lima/">OUC Faria Lima</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/oucbt/">OUC Bairros do Tamanduateí</a>
                            <ul>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/oucbt/o-pde-e-o-arco-tamanduatei/">O PDE e o Arco Tamanduateí</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/oucbt/a-cidade-que-queremos/">A Cidade Que Queremos</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/oucbt/processo-participativo/">Processo Participativo</a></li>
                                <li class="quarto_nivel"><a href="http://minutabt.gestaourbana.prefeitura.sp.gov.br/">Minuta Participativa</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/operacoes-urbanas/oucbt/arquivos/">Arquivos do PL</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/piu/">Projetos de Intervenção Urbana</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/piu/decreto/">Decreto</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/piu/entenda/">Entenda o PIU</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/piu/consultas-publicas/">Consultas Públicas</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/piu/decreto-piu-nesp/">Decreto PIU NESP</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/piu/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/arcos/">Arcos</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/arcos/arco-jurubatuba/">Arco Jurubatuba</a>
                            <ul>
                                <li><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/arcos/arco-jurubatuba/consulta-publica/">Consulta Pública</a></li>
                            </ul>
                        </li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/arcos/arco-pinheiros/">Arco Pinheiros</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/estruturacao-territorial/pmi-terminais-de-onibus/">PMI Terminais de ônibus</a></li>
            </ul>
        </li>
        <li class='primeiro_nivel'><a href="#">Projetos Urbanos</a>
            <ul>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/requalificacao-santo-amaro/">Requalificação Santo Amaro</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/requalificacao-santo-amaro/o-pde-e-a-ouc-faria-lima/">O PDE e a OUC Faria Lima</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/requalificacao-santo-amaro/objetivos-e-estrategias/">Objetivos e Estratégias</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/desenvolvimento-do-projeto-2/">Desenvolvimento do Projeto</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/requalificacao-santo-amaro/resultados-esperados/">Resultados Esperados</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/requalificacao-santo-amaro/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/areas-publicas/">Áreas Públicas</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/areas-publicas/legislacao/">Legislação</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/areas-publicas/relatorios/">Relatórios</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/areas-publicas/destinacao/">Destinação</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/parklets/">Parklets</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/parklets/saiba-mais/">Saiba Mais</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/parklets/como-implantar/">Como Implantar</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/parklets/mapa/">Mapeamento</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/parklets/parklets-municipais/">Parklets Municipais</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/calcadoes/">Requalificação dos Calçadões</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/calcadoes/diagnosticos/">Diagnósticos</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/calcadoes/objetivos/">Objetivos</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/calcadoes/projeto-piloto/">Projeto Piloto</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/calcadoes/resultados-esperados/">Resultados Esperados</a></li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/centro-aberto/">Centro Aberto</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/centro-aberto/largo-paissandu/">Largo Paissandu</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/centro-aberto/largo-sao-francisco/">Largo São Francisco</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/centro-aberto/metodologia/">Metodologia</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/centro-aberto/proximos-passos/">Próximos Passos</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/anhangabau/">Vale do Anhangabaú</a>
                            <ul>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/anhangabau/processo-participativo/">Processo Participativo</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/anhangabau/estrategias/">Estratégias</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/anhangabau/como-faremos/">Como Faremos</a></li>
                                <li class="quarto_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/anhangabau/perguntas-e-respostas/">Perguntas e Respostas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="segundo_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/rede-de-espacos-publicos/concurso-mobiliario-urbano/">Concurso MobiliÁrio Urbano</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/concurso-mobiliario-urbano/comunicados-e-respostas/">Comunicados e Respostas</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/concurso-mobiliario-urbano/documentos-e-arquivos/">Documentos e Arquivos</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/projetos-urbanos/concurso-mobiliario-urbano/conheca-os-projetos-premiados-do-concurso-publico-nacional-de-ideias-para-elementos-de-mobiliario-urbano-de-sao-paulo/">Resultados</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class='primeiro_nivel'><a href="#">Bordas da Cidade</a>
            <ul>
                <li class='segundo_nivel'><a href="http://mapacolaborativo.gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/">Mapa Colaborativo</a></li>
                <li class='segundo_nivel'><a href="http://gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/cadeia-da-agricultura/">Cadeia da Agricultura</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/cadeia-da-agricultura/desafios/">Desafios</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/cadeia-da-agricultura/cadeia-de-valor/">Cadeia de Valor</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/cadeia-da-agricultura/iabr-2016/">IABR 2016</a></li>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/cadeia-da-agricultura/arquivos/">Arquivos</a></li>
                    </ul>
                </li>
                <li class='segundo_nivel'><a href="http://gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/ligue-os-pontos/">Ligue os Pontos</a>
                    <ul>
                        <li class="terceiro_nivel"><a href="http://gestaourbana.prefeitura.sp.gov.br/bordas-da-cidade/ligue-os-pontos/objetivos-e-estrategias/">Objetivos e Estratégias</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class='primeiro_nivel'><a title="#">Acervo Urbano</a>
            <ul>
                <li class='segundo_nivel'><a title="menu_amarelo" href="http://gestaourbana.prefeitura.sp.gov.br/biblioteca-2/">Biblioteca</a></li>
                <li class='segundo_nivel'><a href="http://geosampa.prefeitura.sp.gov.br/PaginasPublicas/_SBC.aspx">Geosampa</a></li>
                <li class='segundo_nivel'><a href="http://observasampa.prefeitura.sp.gov.br/">Observa Sampa</a></li>
                <li class='segundo_nivel'><a href="http://dados.prefeitura.sp.gov.br/">Dados Abertos</a></li>
            </ul>
        </li>
    </ul>
</nav>
</div>
