@import '../vendor/font-awesome.scss';
@import '../vendor/normalize.scss';
@import '../vendor/skeleton.scss';

@import './variables.scss';
@import './nav_menu.scss';


/*
 * Base
 */

a {
	color: $main-color;
	text-decoration: none;
	transition: color 100ms ease-in;

	&:hover {
		color: lighten($main-color, 25%);
	}
}

p,
span,
ul li {
	color: $main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $main-color;
}

/*
 * Header
 */

header {
	font-size: 1em;

	p {
		margin-bottom: 0;
		text-align: right;
		line-height: 30px;

		i {
			display: inline-block;
			padding-right: .5em;
		}	
	}

	a {
		color: $main-text-color;

		&:hover {
			color: lighten($main-text-color, 25%);
		}
	}

	#logos {
		display: inline-block;

		img {
			height: 30px;
		}		
	}

	#languages {
		display: inline-block;
		margin-bottom: 0;
		margin-left: 1.5em;

		li {
			display: inline-block;
			margin-bottom: 0;
			line-height: 30px;

			a {
				display: inline-block;
				border-right: 1px solid $secondary-text-color;
				margin-right: .5em;
				padding-right: .5em;
			}

			&:last-of-type {
				a {
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
	}

	.columns {
		padding: 1.5em 0;

		&.nine {
			display: flex;
		}
	}
}

/*
 * Footer
 */

footer {
	font-size: 1em;
	color: $main-text-color;

	ul {
		list-style-type: none;

		li {
			margin-bottom: 0;
		}

		&#social-media li {
			display: inline-block;
			padding-right: 1.5em;
		}
	}

	img {
		width: 90%;
	}
}