@import '../vendor/font-awesome.scss';
@import '../vendor/normalize.scss';
@import '../vendor/skeleton.scss';

@import './variables.scss';
@import './nav_menu.scss';

@import './pages/home_page.scss';
@import './pages/news_index_page.scss';
@import './pages/events_index_page.scss';
@import './pages/category_index_page.scss';
@import './pages/static_page.scss';


/*
 * Base
 */

html {
  font-size: 16px;
}

p a {
	text-decoration: underline;
	color: blue;
}

a {
	color: $main-color;
	text-decoration: none;
	transition: opacity 150ms ease-in;

	&:hover {
		opacity: .6;
	}
}

p,
span,
ul li {
	color: $main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $main-color;
}

.button {
	border-radius: 0;
}

.button.button-primary {
	background-color: $main-color;
	border: none;
	color: white;

	&:hover,
	&:visited {
		color: white;
		background-color: $main-color;
	}
}

#page-title {
	margin-top: 1.5rem;
}

.offset {
	height: 1px;
}

/*
 * Header
 */

header {
	font-size: 1rem;
	padding-top: 3rem;

	p {
		margin-bottom: 0;
		text-align: right;
		line-height: 30px;

		i {
			display: inline-block;
			padding-right: .5rem;
		}	
	}

	a {
		color: $main-text-color;
		text-decoration: none;

		&:hover {
			color: lighten($main-text-color, 25%);
		}
	}

	#pmsp {
		display: inline-block;
		margin-right: 1.5rem;

		img {
			height: 30px;
		}		
	}

	#languages {
		display: inline-block;
		margin-bottom: 0;
		margin-left: 0;

		li {
			display: inline-block;
			margin-bottom: 0;
			line-height: 30px;

			a {
				display: inline-block;
				border-right: 1px solid $secondary-text-color;
				margin-right: .5rem;
				padding-right: .5rem;
			}

			&:last-of-type {
				a {
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
	}

	.columns {
		padding: 0  0 1rem 0;

		&.nine {
			display: flex;
		}
	}
}

/*
 * Footer
 */

footer {
	font-size: 1rem;
	color: $main-text-color;
	padding-top: 3rem;
	margin-top: 3rem;
	border-top: 1px solid $hairline;

	ul {
		list-style-type: none;

		li {
			margin-bottom: 0;
		}

		&#social-media li {
			display: inline-block;
			padding-right: 1.5rem;
		}
	}

	img {
		width: 90%;
	}
}