$title-font: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-font: "Georgia", Times, "Times New Roman", serif;

$main-color:#212121;
$main-color-focus: #D9D9D9;
$main-color-hover: #F0F0F0;

$main-text-color: #5A5A59;
$secondary-text-color: #AFAFAE;

$light-bg: #cecece;

$hairline: #e2e2e2;