#static-block {
	font-size: 1.3rem;
	line-height: 2;

	figure {
		margin: 1.5rem 0;

		img {
			max-width: 100%;
		}

		&.full {
			margin: 3rem 0;
			width: 100%;
		}
	}

	ul {
		font-family: $text-font;
		padding-left: 1.5rem;
		margin: 1.5rem 0;
		list-style-type: disc;

		a {
			text-decoration: underline;
			color: blue;
		}
	}

	hr {
		margin: 3rem 0;
	}

	p {
		font-family: $text-font;
		margin-bottom: 1.5rem;

		strong {
			color: $main-color;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	h1, h2, h3, h4, h5 {
		font-size: 2rem;
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
}

.go-back {
	margin-top: 3rem;
}