{% load static wagtailuserbar %}

<footer class="row">
    <div class="columns three">
        <img src="{% static 'img/logo_gestao.jpg' %}" alt="Gestão Urbana">
        <img src="{% static 'img/logo_prefeitura.jpg' %}" alt="Prefeitura de São Paulo">
    </div>
    <div class="columns five">
        <ul>
            <li><a href="">Termos</a></li>
            <li><a href="">Contato</a></li>
        </ul>
        <p>
            Secretaria Municipal de Urbanismo e Licenciamento<br />
            Prefeitura de São Paulo<br />
            Rua São Bento, 405, Centro - 22º andar<br />
            CEP 01011-100 - São Paulo - SP<br />
            Telefone: (11) 3113 7500
        </p>
    </div>
    <div class="columns four">
        <ul id="social-media">
            <li><a href="https://www.facebook.com/PrefSP.smul"><i class="fa fa-facebook-official fa-lg"></i></a></li>
            <li><a href="https://twitter.com/PrefSP_smul"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="http://www.youtube.com/user/pmspsmdu"><i class="fa fa-youtube fa-lg"></i></a></li>
        </ul>
        <p>
            Todo o conteúdo do site está disponível sob licença Creative Commons. Acesse a página <a href="">Desenvolvimento</a> e saiba mais. 
        </p>
    </div>
</footer>