{% load static wagtailuserbar %}

<footer class="row">
    <div class="columns three">
        <img src="{% static 'img/logo_prefeitura_smul.png' %}" alt="Prefeitura de São Paulo - Secretaria de Licenciamento e Urbanismo">
    </div>
    <div class="columns five">
        <p>
            Secretaria Municipal de Urbanismo e Licenciamento<br />
            Prefeitura de São Paulo<br />
            Rua São Bento, 405, Centro - 22º andar<br />
            CEP 01011-100 - São Paulo - SP<br />
            Telefone: (11) 3113 7500
        </p>
    </div>
    <div class="columns four">
        <p>
            Todo o conteúdo do site está disponível sob licença Creative Commons. Acesse a página <a href="">Desenvolvimento</a> e saiba mais. 
        </p>
    </div>
</footer>