{% load static wagtailuserbar %}

<header class="row">
    <div class="nine columns">
        <div id="logos">
            <img id="logo-prefeitura" src="{% static 'img/logo_prefeitura.jpg' %}" alt="Prefeitura de São Paulo">
        </div>        
        <ul id="languages">
            <li><a href="">English</a></li>
            <li><a href="">Español</a></li>
        </ul>
    </div>
    <div class="three columns">
        <p><a href="https://www.facebook.com/PrefSP.smul"><i class="fa fa-question-circle-o fa-lg"></i>Entenda</a></p>
    </div>
</header>