{% load static wagtailuserbar %}

<div id="menu_container">
<nav>

<div id='logo'><a href="http://localhost:8000"><img id="logo" src="{% static 'img/logo_gestao.svg' %}" alt="Gestão Urbana"></a></div>

	<ul class="nav-menu">
		<li class="has-children">
			<input type="checkbox" name="nav-0" id="nav-0">
			<label for="nav-0">Marco Regulatório</label>
			<ul>
				<li class="has-children">
					<input type="checkbox" name ="nav-0-0" id="nav-0-0">
					<label for="nav-0-0">nav 0 0</label>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>

						<li class="has-children">
			  				<input type="checkbox" name ="nav-0-0-0" id="nav-0-0-0">
							<label for="nav-0-0-0">nav 0 0 0</label>
							<ul>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
							</ul>
						</li>

					</ul>
				</li>
	  			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
	  		</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name="nav-1" id="nav-1">
			<label for="nav-1">Estruturação Metropolitana</label>
			<ul>
				<li class="has-children">
					<input type="checkbox" name ="nav-1-0" id="nav-1-0">
					<label for="nav-1-0">nav 1 0</label>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>

						<li class="has-children">
			  				<input type="checkbox" name ="nav-1-0-0" id="nav-1-0-0">
							<label for="nav-1-0-0">nav 1 0 0</label>
							<ul>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
							</ul>
						</li>

					</ul>
				</li>
	  			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
	  		</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name="nav-2" id="nav-2">
			<label for="nav-2">Projetos Urbanos</label>
			<ul>
				<li class="has-children">
					<input type="checkbox" name ="nav-2-0" id="nav-2-0">
					<label for="nav-2-0">nav 2 0</label>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>

						<li class="has-children">
			  				<input type="checkbox" name ="nav-2-0-0" id="nav-2-0-0">
							<label for="nav-2-0-0">nav 2 0 0</label>
							<ul>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
							</ul>
						</li>

					</ul>
				</li>
	  			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
	  		</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name="nav-3" id="nav-3">
			<label for="nav-3">Bordas da cidade</label>
			<ul>
				<li class="has-children">
					<input type="checkbox" name ="nav-3-0" id="nav-3-0">
					<label for="nav-3-0">nav 3 0</label>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>

						<li class="has-children">
			  				<input type="checkbox" name ="nav-3-0-0" id="nav-3-0-0">
							<label for="nav-3-0-0">nav 3 0 0</label>
							<ul>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
							</ul>
						</li>

					</ul>
				</li>
	  			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
	  		</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name="nav-4" id="nav-4">
			<label for="nav-4">Acervo Urbano</label>
			<ul>
				<li class="has-children">
					<input type="checkbox" name ="nav-4-0" id="nav-4-0">
					<label for="nav-4-0">nav 4 0</label>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>

						<li class="has-children">
			  				<input type="checkbox" name ="nav-4-0-0" id="nav-4-0-0">
							<label for="nav-4-0-0">nav 4 0 0</label>
							<ul>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
								<li><a href="#0">Link</a></li>
							</ul>
						</li>

					</ul>
				</li>
	  			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
	  		</ul>
		</li>
	</ul>

	<div id='rodape'>
			<ul id='termos-contato'>
				<li><a href="">Termos</a></li>
				<li><a href="">Contato</a></li>
			</ul>
		<ul id="social-media">
			<li><a href="https://www.facebook.com/PrefSP.smul"><i class="fa fa-facebook-official fa-lg"></i></a></li>
			<li><a href="https://twitter.com/PrefSP_smul"><i class="fa fa-twitter fa-lg"></i></a></li>
			<li><a href="http://www.youtube.com/user/pmspsmdu"><i class="fa fa-youtube fa-lg"></i></a></li>
		</ul>
	</div>

</nav>

</div>
