{% load static wagtailuserbar %}

<div id="menu_container">
	<nav>
	<div id='logo'><a href="http://localhost:8000"><img src="{% static 'img/logo_gestao.svg' %}" alt="Gestão Urbana"></a></div>
		<ul id="nav-menu">
			<li id='nav-0' class="expansor">nav 0</li>
			<ul>
				<li class="expansor">nav 0 0</li>
				<ul>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li class="expansor">nav 0 0 0</li>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
					</ul>
				</ul>
		 			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
		 	</ul>

			<li id='nav-1' class="expansor">nav 1</li>
			<ul>
				<li class="expansor">nav 1 0</li>
				<ul>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li class="expansor">nav 1 0 0</li>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
					</ul>
				</ul>
		 			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
		 	</ul>
	
			<li id='nav-2' class="expansor">nav 2</li>
			<ul>
				<li class="expansor">nav 2 0</li>
				<ul>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li class="expansor">nav 2 0 0</li>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
					</ul>
				</ul>
		 			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
		 	</ul>

			<li id='nav-3' class="expansor">nav 3</li>
			<ul>
				<li class="expansor">nav 3 0</li>
				<ul>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li class="expansor">nav 3 0 0</li>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
					</ul>
				</ul>
		 			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
		 	</ul>


			<li id='nav-4' class="expansor">nav 4</li>
			<ul>
				<li class="expansor">nav 4 0</li>
				<ul>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li><a href="#0">Link</a></li>
					<li class="expansor">nav 4 0 0</li>
					<ul>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
						<li><a href="#0">Link</a></li>
					</ul>
				</ul>
		 			<li><a href="#0">Link</a></li>
				<li><a href="#0">Link</a></li>
		 	</ul>

		</ul>

		<div id='rodape'>
				<ul id='termos-contato'>
					<li><a href="">Termos</a></li>
					<li><a href="">Contato</a></li>
				</ul>
			<ul id="social-media">
				<li><a href="https://www.facebook.com/PrefSP.smul"><i class="fa fa-facebook-official fa-lg"></i></a></li>
				<li><a href="https://twitter.com/PrefSP_smul"><i class="fa fa-twitter fa-lg"></i></a></li>
				<li><a href="http://www.youtube.com/user/pmspsmdu"><i class="fa fa-youtube fa-lg"></i></a></li>
			</ul>
		</div>
	</nav>
</div>
